@model ZoomIn.Models.Enduser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assetsLogin/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/assetsLogin/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assetsLogin/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/assetsLogin/css/style.css">

    <title>Login</title>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2">
        </div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>Login to <strong>ZoomIn</strong></h3>
                        <p class="mb-4">Get inspired with incredible photos from diverse styles and genres around the world.</p>
                        <form asp-action="Login" method="POST" class="register-form" id="login-form">

                            <div class="form-group first">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" placeholder="Your Username" id="username" required>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Your Password" id="password" required>
                            </div>

                            <div class="mb-5">
                            </div>

                            <input type="submit" name="signin" id="signin" value="Log In" class="btn btn-block btn-warning">
                        </form>
                        <div class="d-flex mt-3 mb-5 justify-content-end">
                            Not registerd?&nbsp;
                            <a asp-controller="LoginRegister" asp-action="Register">Create an account</a>
                        </div>
                        <hr/>
                        <div class="d-flex justify-content-center">
                            <a asp-controller="Home" asp-action="Index">Home</a> &nbsp;|&nbsp;
                            <a asp-controller="Home" asp-action="About">About</a> &nbsp;|&nbsp;
                            <a asp-controller="Home" asp-action="Contact">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="~/assetsLogin/js/jquery-3.3.1.min.js"></script>
    <script src="~/assetsLogin/js/popper.min.js"></script>
    <script src="~/assetsLogin/js/bootstrap.min.js"></script>
    <script src="~/assetsLogin/js/main.js"></script>
</body>
</html>
