@model ZoomIn.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Edit</h1>

<script type="text/javascript">
    window.onload = function () {
        var element = document.getElementById("_items");
        element.classList.add("active");
    }
</script>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />


            <div class="row py-4">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-content-center">
                    @{
                        String img64 = Convert.ToBase64String(Model.ItemInnerFile);
                        String img64Url = string.Format("data:image/" + Model.ItemExtension + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                    }
                    <img src="@img64Url" class="w-100"/>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 overflow-auto">
                    <table>
                        <tbody>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Itemname" class="control-label"></label>
                                        <input asp-for="Itemname" class="form-control" />
                                        <span asp-validation-for="Itemname" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6" hidden>
                                    <div>
                                        <label asp-for="ItemFile" class="control-label"></label>
                                        <input asp-for="ItemFile" class="form-control" />
                                        <span asp-validation-for="ItemFile" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6" hidden>
                                    <div>
                                        <label asp-for="Uploaddate" class="control-label"></label>
                                        <input asp-for="Uploaddate" class="form-control" />
                                        <span asp-validation-for="Uploaddate" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6" hidden>
                                    <div>
                                        <label asp-for="Noviews" class="control-label"></label>
                                        <input asp-for="Noviews" class="form-control" />
                                        <span asp-validation-for="Noviews" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6" hidden>
                                    <div>
                                        <label asp-for="Nopurchases" class="control-label"></label>
                                        <input asp-for="Nopurchases" class="form-control" />
                                        <span asp-validation-for="Nopurchases" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6" hidden>
                                    <div>
                                        <label asp-for="Nolikes" class="control-label"></label>
                                        <input asp-for="Nolikes" class="form-control" />
                                        <span asp-validation-for="Nolikes" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6" hidden>
                                    <div>
                                        <label asp-for="Popularity" class="control-label"></label>
                                        <input asp-for="Popularity" class="form-control" />
                                        <span asp-validation-for="Popularity" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Createdate" class="control-label"></label>
                                        <input asp-for="Createdate" class="form-control" />
                                        <span asp-validation-for="Createdate" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Width" class="control-label"></label>
                                        <input asp-for="Width" class="form-control" />
                                        <span asp-validation-for="Width" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Height" class="control-label"></label>
                                        <input asp-for="Height" class="form-control" />
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Price" class="control-label"></label>
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Itemdescription" class="control-label"></label>
                                        <input asp-for="Itemdescription" class="form-control" />
                                        <span asp-validation-for="Itemdescription" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="Takenlocation" class="control-label"></label>
                                        <input asp-for="Takenlocation" class="form-control" />
                                        <span asp-validation-for="Takenlocation" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="TypeId" class="control-label">Type</label>
                                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                                        <span asp-validation-for="TypeId" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="CategoryId" class="control-label">Category</label>
                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div>
                                        <label asp-for="OwnerId" class="control-label">Owner</label>
                                        <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                                        <span asp-validation-for="OwnerId" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div class="form-group row">
                                        <div class="col-12 row">
                                            <div class="col">
                                                <input type="submit" value="Save" class="btn btn-success w-100" />
                                            </div>
                                            <div class="col">
                                                <a asp-action="Index" class="btn btn-dark w-100">
                                                    <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

