
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assetsLogin/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/assetsLogin/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assetsLogin/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/assetsLogin/css/style.css">

    <title>Purchase Complete</title>
</head>
<body>

    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2">
        </div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">

                        <div class="result" id="Results">
                            <div class="success show" id="Results_Success">
                                <div class="wrapper">
                                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1><strong>ZoomIn</strong></h1>
                        <h2><strong>Your purchases is completed successfully</strong></h2>
                        <p class="mb-4">Thank you for using our website.</p>

                        <hr />
                        <div>
                            <a asp-controller="Home" asp-action="Index">Home</a> |
                            <a asp-controller="Home" asp-action="Gallery">Gallery</a> |
                            <a asp-controller="Home" asp-action="UserProfile">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="~/assetsLogin/js/jquery-3.3.1.min.js"></script>
    <script src="~/assetsLogin/js/popper.min.js"></script>
    <script src="~/assetsLogin/js/bootstrap.min.js"></script>
    <script src="~/assetsLogin/js/main.js"></script>
</body>
</html>
