@model ZoomIn.Models.Creditcard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Create</h1>

<script type="text/javascript">
    window.onload = function () {
        var element = document.getElementById("_ccards");
        element.classList.add("active");
    }
</script>

<h4>Creditcard</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cardnumber" class="control-label"></label>
                <input asp-for="Cardnumber" class="form-control" />
                <span asp-validation-for="Cardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardkey" class="control-label"></label>
                <input asp-for="Cardkey" class="form-control" />
                <span asp-validation-for="Cardkey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expirydate" class="control-label"></label>
                <input asp-for="Expirydate" class="form-control" />
                <span asp-validation-for="Expirydate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-7 row">
                    <div class="col-4">
                        <input type="submit" value="Create" class="btn btn-success w-100" />
                    </div>
                    <div class="col-4">
                        <a asp-action="Index" class="btn btn-dark w-100">
                            <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
